/* Root Styles */
:root{
    font-family: 'Roboto', sans-serif;

    --grey: #C4C4C4;
    --lightgrey: #8D7F7F;
    --black: #282828;
    --white: #FFFFFF;
    --blue: #2294C5;

}


/* Bootstrap Classes Redefinitions / Template Class Definitions */
.bg-dark{
    background: var(--black) !important;
}

.text-light{
    color: var(--white) !important;
}


.text-dark{
    color: var(--black) !important;
}

.text-grey{
    color: var(--lightgrey);
}

/* Navigation  */
.logo{
    height: 10vh;
}

.active{
    color: var(--blue) !important;
}

/* Spotlight Section */
.spotlight{
    /* margin-top: 15vh; */
    height: 95vh;
}

.big-btn{
    background: var(--blue);
    border-radius: 2rem;
}


/* Information Section */
.information{
    background: linear-gradient(180deg, rgba(40, 51, 56, 0) 0%, #437E9A 100%);
}